<%- partial('partials/header')%>
<div class="container">
	<div class="col-lg-4">
		
		<form class="form">
			
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			</br>
			<button class="btn btn-primary"> blah</button>
		</form>

	</div>
	
</div>
<%- partial('partials/footer')%>